<!DOCTYPE HTML>
<html>
<head>
    <title>Rainy Hills</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
</head>
<body style="width: 50%; height: 50%; padding: 20px">
<canvas id="chart" ></canvas>
<h2>Total water volume: <span th:text="${totalWater}"></span> units</h2>
<script th:inline="javascript">
    var ctx = document.getElementById('chart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [[${hillsInput}]],
            datasets: [
                {
                    label: 'Hill',
                    data: [[${hillsInput}]],
                    backgroundColor: '#808080'
                },
                {
                    label: 'Water',
                    data: [[${waterOnHills}]],
                    backgroundColor: '#00b0f0'
                },
            ]
        },
        responsive: true,
        options: {
            scales: {
                xAxes: [{ stacked: true , categoryPercentage: 1.0, barPercentage: 1.0}],
                yAxes: [{ stacked: true }]
            }
        }
    });
</script>

</body>
</html>